:root {
  --md-primary-fg-color:        #EE781C;
  --md-primary-fg-color--light: #f39c12;
  --md-primary-fg-color--dark:  #d35400;
  --md-accent-fg-color:         #EE781C;
  --md-accent-fg-color--transparent: rgba(238, 120, 28, 0.1);
  --md-typeset-color:           #ffffff;
  --md-typeset-a-color:         #FFAA44;
}